{% extends "base.html" %}

{% block content %}
  <h2>Recent posts</h2>

  {% if items %}
    {% for item in items %}
      <a
        class="card"
        href="{{ url_for('item_detail', item_id=item['_id']) }}"
      >
        <span class="badge badge-{{ item.type }}">
          {{ item.type | capitalize }}
        </span>

        <h3>{{ item.title }}</h3>
        <p>{{ item.category }} · {{ item.building }}</p>
      </a>
    {% endfor %}
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock %}